@use "../../shared/index" as *;
@use "../../utils/index" as *;

.home {
  @extend %page;

  &--active {
    @extend %page--active;
  }
}

.home__nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7rem 14rem 0;
  z-index: z("navigation");

  @include mobile {
    padding: 7rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 6rem;
  }

  .home__nav__header {
    position: relative;
    width: 45.8rem;
    height: 16rem;
    z-index: -1;
  }

  .home__nav__video {
    @extend %cover;

    object-fit: cover;
    transform: scale(1.92);
  }

  .home__nav__icon {
    @extend %cover;

    opacity: 0;
  }

  .home__nav__list {
    display: flex;
    gap: 3rem;
  }

  .home__nav__item a {
    font-size: 1.8rem;
    line-height: 1.9rem;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    font-weight: 300;

    &:hover {
      color: $color-orange;
      text-decoration: underline;
    }
  }
}

.home__fixed {
  position: fixed;
  right: 6.4rem;
  bottom: 10rem;
  width: 12rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-orange;
  color: $color-white;
  font-size: 1.8rem;
  line-height: 1.9rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  font-weight: bold;
  transform: rotate(-90deg) translate(100%);
  transform-origin: bottom right;
  pointer-events: all;
  z-index: z("fixed");
}

.home__hero {
  position: relative;
  padding: 34rem 32rem 16rem;
  overflow-x: clip;

  @include mobile {
    padding: 42rem 8rem 16rem;
  }

  .home__hero__title {
    font-size: 5rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
    height: 30rem;

    @include mobile {
      font-size: calc(5rem * 0.75);
      line-height: calc(8rem * 0.75);
    }
  }

  .home__hero__background {
    position: absolute;
    top: 20rem;
    right: -26rem;
    width: 154.6rem;
    height: 141rem;
    pointer-events: none;
    z-index: -1;

    @include mobile {
      width: calc(154.6rem * 0.5);
      height: calc(141rem * 0.5);
      top: 26rem;
    }
  }
}

.home__manifesto {
  position: relative;
  padding: 0 32rem;
  margin-bottom: 6.4rem;

  @include mobile {
    padding: 0 8rem;
    margin-bottom: 12rem;
  }

  .home__manifesto__inner {
    position: relative;
    margin-top: 4rem;
  }

  button {
    width: 6.4rem;
    height: 6.4rem;
    padding: 0;

    svg {
      width: 6.4rem;
      height: 6.4rem;
    }
  }

  .home__manifesto__prev {
    position: absolute;
    left: -16rem;
    top: 50%;
    transform: translate(0, -50%);

    @include mobile {
      left: -7rem;
      z-index: 2;
    }
  }

  .home__manifesto__next {
    position: absolute;
    right: -16rem;
    top: 50%;
    transform: translate(0, -50%) rotate(180deg);

    @include mobile {
      right: -7rem;
      z-index: 2;
    }
  }

  .home__manifesto__slider {
    display: flex;
    overflow: hidden;
  }

  .home__manifesto__list {
    display: flex;
    width: fit-content;
  }

  .home__manifesto__item {
    width: calc(100vw - 32rem * 2);
    height: fit-content;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background: $color-beige;

    @include mobile {
      flex-direction: column;
      gap: 4rem;
    }

    @include mobile {
      width: calc(100vw - 8rem * 2);
    }
  }

  .home__manifesto__item__infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6rem;

    h3 {
      font-size: 12rem;
      line-height: 16rem;
      color: $color-white;
    }

    h4,
    h5,
    p {
      font-size: 2.6rem;
      line-height: 3rem;
      letter-spacing: 0.05rem;
      text-align: center;
    }

    h4 {
      font-weight: bold;
      color: $color-orange;
      text-transform: uppercase;
    }

    h5 {
      font-weight: bold;
    }

    p {
      margin: 4rem 0 6rem;
      font-weight: 300;
    }

    svg {
      width: 4rem;
      height: 3.2rem;
    }
  }

  figure {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;

    @include mobile {
      aspect-ratio: 1 / 0.56;
    }

    img {
      @extend %cover;

      object-fit: cover;
      object-position: center;
    }
  }
}

.home__achievements {
  position: relative;
  padding: 0 32rem;
  margin-bottom: 6.4rem;

  @include mobile {
    padding: 0 8rem;
    margin-bottom: 12rem;
  }

  .home__achievements__inner {
    position: relative;
    margin-top: 4rem;
  }

  .home__achievements__prev,
  .home__achievements__next {
    width: 6.4rem;
    height: 6.4rem;
    padding: 0;

    svg {
      width: 6.4rem;
      height: 6.4rem;
    }
  }

  .home__achievements__prev {
    position: absolute;
    left: -16rem;
    top: 50%;
    transform: translate(0, -50%);

    @include mobile {
      left: -7rem;
      z-index: 2;
    }
  }

  .home__achievements__next {
    position: absolute;
    right: -16rem;
    top: 50%;
    transform: translate(0, -50%) rotate(180deg);

    @include mobile {
      right: -7rem;
      z-index: 2;
    }
  }

  .home__achievements__slider {
    display: flex;
    overflow: hidden;
  }

  .home__achievements__list {
    display: flex;
    width: fit-content;
  }

  .home__achievements__item {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 32rem * 2);
    background: $color-beige;

    @include mobile {
      width: calc(100vw - 8rem * 2);
    }
  }

  .home__achievements__item__header {
    display: flex;

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 7rem;
      font-size: 2.6rem;
      line-height: 2.6rem;
      letter-spacing: 0.1rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $color-white;

      @include mobile {
        font-size: calc(2.6rem * 0.75);
        line-height: calc(2.6rem * 0.75);
      }

      &:first-of-type {
        width: 100%;
        background: $color-black;
      }

      &.new {
        width: 34%;
        flex-shrink: 0;
        background: $color-orange;
      }
    }
  }

  .home__achievements__item__inner {
    display: flex;
  }

  .home__achievements__item__figure {
    position: relative;
    width: 66%;
    aspect-ratio: 1 / 0.6;

    .home__achievements__item__after {
      @extend %cover;

      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 2.2rem;
      line-height: 2.8rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      background: rgba($color: #000000, $alpha: 0.6);
      color: $color-white;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.7s $expo-out;

      &:hover {
        opacity: 1;
      }
    }

    img {
      @extend %cover;

      object-fit: cover;
      object-position: center;
    }
  }

  .home__achievements__infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6rem;
    width: 34%;

    .home__achievements__infos__content {
      padding: 2.4rem;
    }

    p,
    ul,
    li {
      font-size: 2.2rem;
      line-height: 2.8rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;

      strong {
        font-weight: bold;
      }
    }

    ul {
      list-style-type: disc;
      margin-left: 3rem;
    }

    .separator {
      display: block;
      width: 100%;
      height: 1px;
      background: $color-black;
      margin: 1.6rem 0;
    }

    button {
      width: 100%;
      height: 7rem;
      font-size: 2.6rem;
      line-height: 2.6rem;
      letter-spacing: 0.1rem;
      font-weight: 500;
      text-transform: uppercase;
      color: $color-white;
      background: $color-black;

      @include mobile {
        font-size: calc(2.6rem * 0.75);
        line-height: calc(2.6rem * 0.75);
      }
    }
  }
}

.home__investment {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  padding: 0 32rem;
  margin-bottom: 6.4rem;

  @include mobile {
    padding: 0 8rem;
    margin-bottom: 12rem;
  }

  .home__investment__subtitle {
    font-size: 2.6rem;
    line-height: 4.4rem;
    letter-spacing: 0.05rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .home__investment__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .home__investment__item {
    background: $color-black;
    color: $color-white;
    width: 100%;
    padding: 4rem;

    h3 {
      font-size: 3rem;
      line-height: 3.4rem;
      letter-spacing: 0.07rem;
      font-weight: 300;
      text-transform: uppercase;
      cursor: pointer;

      strong {
        font-weight: bold;
      }
    }
  }

  .home__investment__sublist {
    margin-top: 3.2rem;
    overflow: hidden;
  }

  .home__investment__item__description {
    font-size: 2.6rem;
    line-height: 3rem;
    letter-spacing: 0.05rem;
    margin-bottom: 6.4rem;
  }

  .home__investment__subitem {
    border-top: 1px solid currentColor;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3.2rem 0;
      cursor: pointer;

      p:first-of-type {
        font-size: 2.2rem;
        line-height: 1.6rem;
        letter-spacing: 0.5rem;
        font-weight: bold;
      }

      p:last-of-type {
        font-size: 3rem;
        line-height: 2rem;
        letter-spacing: 0.5rem;
        font-weight: bold;
      }
    }

    .home__investment__subitem__description {
      font-size: 1.8rem;
      line-height: 2.2rem;
      letter-spacing: 0.25rem;
      font-weight: 300;
      margin-bottom: 6.4rem;
      overflow: hidden;

      strong {
        font-weight: bold;
      }
    }
  }
}

.home__expertise {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  padding: 0 32rem;
  margin-bottom: 6.4rem;

  @include mobile {
    padding: 0 8rem;
    margin-bottom: 12rem;
  }

  .home__expertise__subtitle {
    font-size: 2.6rem;
    line-height: 4.4rem;
    letter-spacing: 0.05rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;

    strong {
      color: $color-orange;
    }
  }

  .home__expertise__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 8rem;
    column-gap: 6rem;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .home__expertise__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-beige;

    figure {
      position: relative;
      width: 100%;
      aspect-ratio: 1 / 1;

      img {
        @extend %cover;

        object-fit: cover;
        object-position: center;
      }
    }

    .home__expertise__item__infos {
      max-width: 26rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2.4rem 0 4rem;

      h4 {
        font-size: 2rem;
        line-height: 2.2rem;
        letter-spacing: 0.05rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
      }

      p {
        font-size: 1.8rem;
        line-height: 2.2rem;
        letter-spacing: 0.04rem;
        text-align: center;
        margin-bottom: 1.8rem;
      }

      svg {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2.4rem;
        width: 2.6rem;
        height: 2.1rem;
      }
    }
  }
}

.home__about {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 32rem;
  margin-bottom: 6.4rem;

  @include mobile {
    padding: 0 8rem;
    margin-bottom: 12rem;
  }

  .home__about__inner {
    display: flex;
    gap: 4rem;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  .home__about__left {
    width: 32rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include mobile {
      width: 28rem;
    }

    figure {
      position: relative;
      width: 100%;
      aspect-ratio: 1 / 1.5;

      img {
        @extend %cover;

        object-fit: cover;
        object-position: center;
      }
    }

    p {
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-weight: 300;

      strong {
        font-weight: bold;
      }
    }
  }

  .home__about__center {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    width: 52rem;
    flex-shrink: 0;

    .home__about__center__description {
      font-size: 2.4rem;
      line-height: 3.4rem;
      letter-spacing: 0.05rem;

      strong {
        font-weight: bold;
      }
    }

    .home__about__center__quote {
      position: relative;
      max-width: 46rem;
      p {
        font-size: 3.2rem;
        line-height: 3.2rem;
        color: $color-orange;
      }

      svg {
        width: 3.6rem;
        height: 2.8rem;

        &:first-of-type {
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(-50%, -75%);
        }

        &:last-of-type {
          position: absolute;
          right: 0;
          bottom: 0;
          transform: translate(-50%, 0%);
        }
      }
    }
  }

  .home__about__right {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 38rem;
    flex-shrink: 0;
    padding-left: 4rem;
    border-left: 1px solid #707070;

    @include mobile {
      width: 100%;
      border-left: none;
      margin-top: 4rem;
    }

    .home__about__right__title {
      font-size: 2.2rem;
      line-height: 3rem;
      letter-spacing: 0.04rem;
    }

    .home__about__right__description {
      font-size: 2rem;
      line-height: 2.4rem;
      color: #707070;
    }

    .home__about__right__list {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include mobile {
        flex-direction: row;
        justify-content: space-between;
      }

      li {
        max-width: 18rem;
      }

      h4 {
        font-size: 4.6rem;
        line-height: 5.6rem;
        letter-spacing: 0.09rem;
        font-weight: 300;
        color: $color-orange;
      }

      p {
        font-size: 1.8rem;
        line-height: 2rem;
        letter-spacing: 0.04rem;
        font-weight: 300;
      }

      span {
        display: block;
        width: 3rem;
        height: 2px;
        margin-top: 2rem;
        background: #2f3539;

        @include mobile {
          display: none;
        }
      }
    }
  }
}

.home__footer {
  padding: 0 5.5rem 9.2rem;
  background: $color-black;
  color: $color-white;

  h2 {
    font-size: 35.4rem;
    line-height: 42.5rem;
    letter-spacing: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    color: rgba(112, 112, 112, 0.12);

    @include mobile {
      font-size: calc(35.4rem * 0.5);
      line-height: calc(42.5rem * 0.75);
      letter-spacing: calc(1.7rem * 0.5);
    }
  }

  .home__footer__inner {
    display: flex;
    margin: 2.8rem 5.5rem 5rem;
    gap: 16rem;

    @include mobile {
      flex-direction: column;
      gap: 10rem;
      margin: 2.8rem 0 5rem;
    }
  }

  .home__footer__infos {
    flex: 1;

    a {
      display: block;
    }
  }

  .home__footer__infos {
    font-size: 2.8rem;
    line-height: 4.5rem;
    letter-spacing: 0.14rem;
    font-weight: 300;
    white-space: nowrap;

    strong {
      font-weight: bold;
    }
  }

  .home__footer__linkedin {
    margin-top: 6rem;

    p {
      font-size: 2rem;
      letter-spacing: inherit;
      line-height: 3rem;
      margin-bottom: 2rem;
    }

    img {
      width: 19rem;
      height: 5.1rem;
    }
  }

  .home__footer__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6.2rem;
  }

  .home__footer__form__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6.2rem;
  }

  .home__footer__input {
    width: 100%;
    padding: 0 0 2rem 0;
    font-family: $font-maquette;
    font-size: 2.6rem;
    line-height: 3.4rem;
    letter-spacing: 0.13rem;
    font-weight: 300;
    color: currentColor;
    border: none;
    border-bottom: 2px solid currentColor;
    background: none;
    outline: none;
    border-radius: 0;

    @include mobile {
      font-size: clamp(16px, 2.6rem, 2.6rem);
      line-height: 3.4rem;
      letter-spacing: 0.13rem;
    }

    &::placeholder {
      font-family: $font-maquette;
      font-size: 2.6rem;
      line-height: 3.4rem;
      letter-spacing: 0.13rem;
      font-weight: 300;
      text-transform: uppercase;
      color: currentColor;
    }
  }

  .home__footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  .home__footer__checkbox {
    display: flex;
    gap: 1.5rem;

    input {
      border-radius: 0;
      border: none;
    }

    label {
      font-size: 1.4rem;
      line-height: 1.7rem;
      max-width: 45rem;
      transform: translateY(25%);

      @include mobile {
        font-size: calc(1.4rem * 1.5);
        line-height: calc(1.7rem * 1.5);
        transform: translateY(0%);
      }
    }
  }

  .home__footer__submit {
    width: fit-content;
    justify-self: flex-end;
    font-size: 3.3rem;
    line-height: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;

    &.loading {
      cursor: wait;
    }
  }

  .home__footer__help {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p:first-of-type {
      font-size: 1.2rem;
      line-height: 1.4rem;

      @include mobile {
        font-size: calc(1.2rem * 1.5);
        line-height: calc(1.4rem * 1.5);
      }
    }

    p:last-of-type {
      font-size: 1.4rem;
      line-height: 2rem;
      text-transform: uppercase;
      color: $color-orange;

      @include mobile {
        font-size: calc(1.4rem * 1.5);
        line-height: calc(2rem * 1.5);
      }
    }
  }

  .home__footer__terms {
    font-size: 2rem;
    line-height: 3rem;
    margin: 0 5.5rem;

    @include mobile {
      margin: 0;
    }

    a {
      padding: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
