@use "sass:map";
@use "../utils/_index" as *;

*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: calc(100vw / $sizes-desktop * 10);
  font-family: $font-maquette;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background: $color-white;
  color: $color-black;

  // Comment to show scrollbar
  -ms-overflow-style: none;
  scrollbar-width: none;

  &-webkit-scrollbar {
    display: none;
  }

  @include mobile {
    font-size: calc(100vw / $sizes-mobile * 10);
  }

  @include desktop {
    font-size: 10px;
  }
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#scroll-wrapper {
  position: relative;
  overflow-x: clip;
  overflow-y: scroll;
  height: 100vh;
  height: 100dvh;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

#scroll-content {
  position: relative;
}

.content {
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: z("content");
}

.home__header {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &.reversed .home__header__title {
    text-align: right;
  }

  .home__header__title {
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
    text-transform: uppercase;

    @include mobile {
      font-size: calc(5rem * 0.75);
      line-height: calc(5.5rem * 0.75);
    }

    strong {
      color: $color-orange;
    }
  }

  .home__header__line {
    width: 100%;
    height: 1px;
    background: #707070;
  }
}

.text-colored {
  color: $color-orange;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: z("canvas");
}

[data-animation="appear"] span {
  will-change: transform;
}

[data-animation="text"] div div {
  will-change: transform;
}

[data-animation="title"] {
  overflow: clip;

  div {
    will-change: transform;
  }
}
